div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

form{
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #000;
    gap: 10px;
}

input{
    width: 150px;
    height: 20px;
}

textarea{
    width: 250px;
    min-height: 50px;
}

button{
    height: 30px;
    max-width: fit-content;
}